<html>
<head>
<script src="https://platform.twitter.com/widgets.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function(){
    var url = '1049217572623847424';
    $.ajax({
        url: "https://api.twitter.com/1/statuses/oembed.json?id="+url,
        dataType: "jsonp",
        success: function(data){
             $("#tweet_div").html(data.html);
        }
    });
})
</script>
</head>
<body>
	<div id="tweet_div"></div>
</body>
</html>
